@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
:root {
  --primary-font: "Manrope", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

h1 {
  font-family: var(--primary-font);
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0;
}

#shopcategories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5rem;
}

li {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  font-family: var(--secondary-font);
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

a:hover {
  text-decoration: underline;
}

section {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
}

section div {
  border: black;
  width: 30%;
}

img {
  width: 100%;
}
