main {
  width: 100%;
  padding: 0;
  margin: 0;
}
#logo-cover {
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}
#cover {
  background-image: url(../pictures/silfen-play/home-page/cover.jpg);
  background-size: cover;
  background-position: top;
  height: auto;
  text-align: center;
  margin-top: 1rem;
}
#gallery {
  display: flex;
  flex-direction: row;
  height: auto;
  align-content: center;
}
.gallery-img {
  height: auto;
  width: 100%;
  background-position-x: center;
}
#left {
  background-image: url(../pictures/silfen-play/home-page/girl.jpg);
  background-size: cover;
}
#center {
  background-image: url(../pictures/silfen-play/home-page/group.jpg);
  background-size: cover;
}
#right {
  background-image: url(../pictures/silfen-play/home-page/girl2.jpg);
  background-size: cover;
}
#intro {
  height: auto;
  text-align: center;
  background-color: #e0ffad;
  border: solid #e0ffad 1px;
  padding: 2rem;
}
.section-name {
  font-family: var(--primary-font);
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 4rem;
  letter-spacing: 2rem;
}
.section-text {
  font-family: var(--secondary-font);
  line-height: 2rem;
  width: 100%;
  align-self: center;
}
#shop-play {
  border: solid black 3px;
}
#shop-play:hover {
  color: white;
  background-color: black;
  transition: all 0.5s;
}
.button-main {
  font-family: var(--primary-font);
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  transition: all 0.5s;
}

#best-sell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
}
#best-sell-img {
  width: 30%;
}
#best-sell-info {
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#best-sell-info h2 {
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 1rem;
}
.image {
  width: 17rem;
}
.best-sell-gallery {
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
#unisex-block {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 0;
  padding: 0;
}
#unisex-img {
  width: 100%;
  background: url("../pictures/silfen-play/home-page/unisex.jpeg");
  background-size: cover;
  background-position: center;
}

#unisex-text {
  background-color: #4380b1;
  color: white;
  text-align: center;
  padding: 2rem;
}
#shop-unisex {
  color: white;
  border: solid white 3px;
}
#shop-unisex:hover {
  color: #4380b1;
  background-color: white;
  transition: all 0.5s;
}
